* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reveal {
  background: hsl(240, 20%, 4%);
  color: #e6e6e6;
  font-family: 'Inter', sans-serif;
}

.reveal .slide-04,
.reveal .slide-09,
.reveal .slide-10,
.reveal .slide-11,
.reveal .slide-12,
.reveal .step-01  {
  background: hsl(240, 16%, 6%);
}

.reveal section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center
}

.reveal h1 {
  margin-bottom: 30px;
  font-size: 44px;
  text-transform: none;
}

.reveal h2 {
  margin-bottom: 40px;
  font-size: 42px;
  text-transform: none;
  color:  hsl(280, 100%, 65%);
}

.reveal h3 {
  font-size: 34px;
  text-transform: none;
  color: hsl(0, 0%, 50%);
}

.reveal p {
  margin: 0 auto 20px;
  max-width: 1200px;
  font-size: 30px;
  color: hsl(0, 0%, 50%);
}

.reveal ul {
  list-style-position: inside;
  text-align: center;
  list-style-type: circle
}

.reveal .difficulties-list {
  margin-bottom: 40px;
  list-style-type: square
}

.reveal .feature-list {
  list-style-type: square
}

.reveal li {
  margin-bottom: 8px;
  font-size: 30px;
  color: hsl(0, 0%, 50%);
}

.reveal li strong {
  color: hsl(280, 100%, 65%);
}

.reveal a {
  color: #e6e6e6;
  transition: all 0.3s ease;
}

.reveal a:hover {
  color: hsl(180, 100%, 50%);
}

.reveal img {
  display: block;
  margin: 0 auto;
  height: auto;
  border-radius: 18px;
}

.reveal .slide-01 h1 {
  margin-bottom: 15px;
  font-size: 52px;
}

.reveal .slide-01 img {
  width: 350px;
}

.reveal .slide-04 li {
  font-size: 28px;
}

.reveal .slide-04 img {
  max-width: 1000px;  
}

.reveal .slide-06 img, 
.reveal .slide-07 img,
.reveal .slide-08 img,
.reveal .slide-09 img,
.reveal .slide-10 img,
.reveal .slide-11 img,
.reveal .slide-12 img,
.reveal .slide-17 img,
.reveal .slide-18 img,
.reveal .slide-20 img, 
.reveal .step-08 img,
.reveal .step-10 img,
.reveal .step-11 img,
.reveal .step-13 img,
.reveal .step-16 img,
.reveal .step-21 img {
  max-width: 1500px;
}

.reveal .slide-02 img,
.reveal .slide-17 img,
.reveal .slide-18 img {
  max-width: 1500px;
  margin-top: 25px;
}

.reveal .slide-04 img {
  max-width: 1100px;
  margin-top: 15px;
}

.reveal .slide-17 h2,
.reveal .slide-18 h2,
.reveal .slide-20 h2 {
  margin-bottom: 20px;
}

.reveal .github-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto 20px;
  width: max-content;
}

.reveal .github-icon {
  width: 35px;
  height: auto;
}

.reveal .github-link a {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 32px;
}

.reveal .name {
  margin-bottom: 20px;
}

.technologies {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 0.5rem; 
  max-width: 1250px;
  margin: 1rem auto 0;
}

.technology {
  padding:0.3rem 0.6rem; 
  border-radius:0.3rem
}